.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 258px;
}

.input {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.button {
    display: flex;
    width: 102px;
    justify-content: center;
    align-items: center;
    background-color: #0079BF;
    padding: 4px 8px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.button:hover {
    cursor: pointer;
    opacity: .8;
}

.selectContainer {
    width: 100%;
    height: 35px;
    position: relative;
}

.selectButton {
    width: 100%;
    height: inherit;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    background-color: #fff;
    box-sizing: border-box;
}

.selectButton::before {
    content: url('/public/dropdown_arrow.png');
    position: absolute;
    right: 8px;
    width: 18px;
    height: 12.5px;
}

.selectButton:hover {
    cursor: pointer;
}

.selectContent {
    width: 100%;
    position: absolute;
    margin-top: 3px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    max-height: 300px;
    overflow: overlay;
}

.selectContent > * {
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.selectContent > *:hover {
    cursor: pointer;
    background-color: #DEDEDE;
}

.selectContent::-webkit-scrollbar {
    display: none;
}