.container {
    display: flex;
    flex-direction: column;
    width: 289px;
    height: fit-content;
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #EBECF0;
}

.title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    width: 258px;
}

.listItem {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding: 7px;
    background-color: #fff;
    border-radius: 5px;
}

.button {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.button:hover {
    cursor: pointer;
    opacity: .8;
}

.button:disabled {
    cursor: default;
}

.link {
    color: inherit;
}

