.container {
    color: #fff;
    display: flex;
    position: absolute;
    bottom: -55px;
    min-height: 55px;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(0, 103, 163);
}

.tasksInfo {
    display: flex;
    gap: 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.authorInfo {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

@media screen and (max-width: 700px) {
    .container {
        display: none;
    }
}